html, body {
    height:100%;
    margin:0;
    padding:0;
}

h1 {
    margin: 0;
    color: black;
    background-color: gray;
    padding: 1em;
    text-align: center;
}

h2 {
    margin: 0;
    margin-top: 0.5em;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom ;
}

img {
    max-width:100%;
    max-height:100%;
}

#portrait {
    width: 30%;
    float: right;
    margin: 1em;
}

#text-box {
    margin: 1em;
}

a {
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: dimgray;
}

a:link{
    color: gray;
}